
#callouts 
  .call_innter
    .wrapper
      .callout
        %h3 Welcome

        %p Chia put a bird on it swag unicorn viral, freegan jean shorts woke typewriter YOLO artisan cronut you probably haven't heard of them. Vegan photo booth art party vexillologist pour-over sriracha. Fap hashtag knausgaard skateboard, tbh raclette mustache umami pop-up swag banh mi meditation blog. Gluten-free direct trade gentrify hoodie woke. Hashtag jean shorts snackwave salvia, knausgaard yuccie seitan hot chicken iceland VHS literally post-ironic ramps cray. Sriracha yuccie literally kale chips, bitters swag williamsburg XOXO gentrify. Truffaut mumblecore hella, deep v church-key chambray echo park semiotics ethical.

        %p Meggings live-edge truffaut, snackwave gastropub occupy health goth mlkshk. Intelligentsia irony snackwave, banh mi trust fund pabst succulents pour-over venmo air plant wolf beard 3 wolf moon activated charcoal. Hot chicken normcore freegan, direct trade paleo skateboard church-key kickstarter prism. Live-edge banjo tbh direct trade, hot chicken blue bottle plaid heirloom put a bird on it tofu man braid polaroid church-key. Listicle lo-fi fashion axe, iPhone wolf skateboard neutra. Meh glossier poke, +1 pop-up etsy lo-fi try-hard asymmetrical readymade mumblecore biodiesel kombucha pour-over. Asymmetrical polaroid gentrify cold-pressed, beard air plant fingerstache chambray gochujang williamsburg taxidermy activated charcoal seitan street art hexagon.
        
        %image(src="http://placehold.it/350x150" border="0")

#bottom_cta
  .wrapper
    %h2 Go Ahead
    %br
    %button= link_to "Join Now", new_user_registration_path
