%h1 Recent Documents

.wrapper_with_padding
  #docs.clearfix
    - unless @docs.blank?  
      - @docs.each do |doc|
        %a{ href: (url_for [doc]) }
          .doc 
            %p.title= doc.title
            %p.date= time_ago_in_words(doc.created_at)    
            %p.content= truncate(doc.content, length: 50)
    - else 
      %h2 Create a document!
      %p Start creating your documents and organize your life!
      %button= link_to "Create New Doc", new_doc_path
