%nav.navbar.navbar-light.bg-faded
  %a.navbar-brand{:href => root_path}
    %img{:alt => "", :height => "30", :src => "http://placehold.it/30x30", :width => "30"}
  %ul.nav.navbar-nav
    %li.nav-item.active
      %a.nav-link{:href => root_path}
        Home
        %span.sr-only (current)

    - if user_signed_in?
      %li.nav-item.dropdown
        %a#supportedContentDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "/users"} Documents
        .dropdown-menu{"aria-labelledby" => "supportedContentDropdown"}
          %a.dropdown-item{:href => docs_path } All
          %a.dropdown-item{:href => new_doc_path } New
    - else

  %ul.nav.navbar-nav(style="float:right;")
    - if user_signed_in?
      %li.nav-item.dropdown
        %a#supportedContentDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#"} My Account
        .dropdown-menu{"aria-labelledby" => "supportedContentDropdown"}
          %a.dropdown-item{:href => edit_user_registration_path } My Account
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item"
    - else
      %li.nav-item.dropdown
        %a.dropdown-item{:href => new_user_session_path } Log In
        %a.dropdown-item{:href => new_user_registration_path } Sign Up

